.gradle
/.idea/workspace.xml
/.idea/usage.statistics.xml
/.idea/shelf
/.idea/modules.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/libraries/*.xml
/.idea/**/*.iml
.qodana
build
.vagrant
.laravel
/lib/
keygen.sh
/code-inspection.log
/certs
.directory
/.intellijPlatform/
/.idea/
